<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b1a968db-bb28-41c9-b6f3-6deda61bf51e" Alias="architecture" Level="2">
  <Info>
    <Name>Architecture</Name>
    <Icon>icon-server color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="dbab23c4-5965-49df-965b-eb41d19c2341">pageProperties</Composition>
      <Composition Key="32bff686-cf6c-44b4-9a53-7090a5300ee6">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Architecture</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c8756e16-e960-425c-a639-9128d0423141">Architecture</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>602ffa91-9658-49d7-bd42-19fbc7c90d48</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>6b1fc313-e03d-4f9c-bf10-36eadc1663ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentProperties/blocks">Blocks</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7a8f7986-721d-4873-99ba-ac30f05e0d36</Key>
      <Caption>Blocks</Caption>
      <Alias>contentProperties/blocks</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>