<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a310fef3-05fb-4de9-8b82-7d7219db8cc7" Alias="articePage" Level="2">
  <Info>
    <Name>Article Page</Name>
    <Icon>icon-article color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="dbab23c4-5965-49df-965b-eb41d19c2341">pageProperties</Composition>
      <Composition Key="32bff686-cf6c-44b4-9a53-7090a5300ee6">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b705fb27-cd97-4faf-b54f-9ee1480e03da">ArticePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>