<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d94ddae4-949f-4d80-a10a-227c8c427ab0" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="f62b1d0c-1c7f-44b8-aa55-2c6c01241305">memberProperties</Composition>
      <Composition Key="dbab23c4-5965-49df-965b-eb41d19c2341">pageProperties</Composition>
      <Composition Key="32bff686-cf6c-44b4-9a53-7090a5300ee6">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b6981078-6f0d-41d6-a9ce-fbb864195fbe">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9ad9c6b3-83d7-4a5f-92a4-4717e1773719</Key>
      <Name>VesionItem</Name>
      <Alias>vesionItem</Alias>
      <Definition>c981fa1b-dc55-4a97-9c23-3882a7f21ca7</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vesionItems">Vesion Items</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>989bbd37-0ccd-463a-a7df-f4923af35a6a</Key>
      <Name>WhoWeAreBodyText</Name>
      <Alias>WhoWeAreBodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contentProperties/whoWeAre">WhoWeAre</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>791aa0a8-c116-493d-b9f4-49c041fb608c</Key>
      <Name>WhoWeAreImage</Name>
      <Alias>WhoWeAreImage</Alias>
      <Definition>068c8a1e-89d0-412d-b232-92106bb0446f</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contentProperties/whoWeAre">WhoWeAre</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>60435bc9-ecc0-4151-b720-e72823fda524</Key>
      <Name>WhoWeAreSubtitle</Name>
      <Alias>whoWeAreSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contentProperties/whoWeAre">WhoWeAre</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40aee85f-7c8a-4f46-9521-55c34c12b10b</Key>
      <Name>WhoWeAreTitle</Name>
      <Alias>WhoWeAreTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentProperties/whoWeAre">WhoWeAre</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cec57a3d-a5f7-479c-88cf-dbb428406504</Key>
      <Caption>Vesion Items</Caption>
      <Alias>vesionItems</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
    <Tab>
      <Key>f1b20106-03aa-45ed-9f4c-a2395513adff</Key>
      <Caption>WhoWeAre</Caption>
      <Alias>contentProperties/whoWeAre</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>