<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="429a5a9e-a0d6-4da0-b142-4ea30a4e6d0a" Alias="homePage" Level="2">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Home page template</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c154be2f-84f4-4f49-9ef2-15befd885229">footerProperties</Composition>
      <Composition Key="dbab23c4-5965-49df-965b-eb41d19c2341">pageProperties</Composition>
      <Composition Key="1597479b-68bf-47b5-b2c6-a596ec4be58f">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="547dc863-c8a4-4f26-876e-80e52829af80">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d94ddae4-949f-4d80-a10a-227c8c427ab0" SortOrder="0">contentPage</ContentType>
    <ContentType Key="a310fef3-05fb-4de9-8b82-7d7219db8cc7" SortOrder="1">articePage</ContentType>
    <ContentType Key="2cc5c797-41b7-4790-9f5a-47ecef2448a0" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5c0e3b77-84b6-4b9e-a2a3-611f068cf40c</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>6b1fc313-e03d-4f9c-bf10-36eadc1663ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7e8cf90b-9c4f-42e0-a40b-1cbc3fcc993a</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>