<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="05a2a25d-33fc-420a-8eaa-532009f18d54" Alias="interior" Level="2">
  <Info>
    <Name>Interior</Name>
    <Icon>icon-color-bucket color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="dbab23c4-5965-49df-965b-eb41d19c2341">pageProperties</Composition>
      <Composition Key="32bff686-cf6c-44b4-9a53-7090a5300ee6">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Interior</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bd9a3037-770d-46fb-a482-f392c0afefd3">Interior</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>75cd406b-4a46-4287-a7d6-aafb8520a4ae</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>6b1fc313-e03d-4f9c-bf10-36eadc1663ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentProperties/blocks">Blocks</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d5533c42-4c86-4f44-ae50-b1557ea6bec8</Key>
      <Caption>Blocks</Caption>
      <Alias>contentProperties/blocks</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>