<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="44ee85e1-bfd6-4d1c-beb1-1531a04cd90d" Alias="services" Level="2">
  <Info>
    <Name>Services</Name>
    <Icon>icon-box color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Services</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8be740b6-ecdf-4c12-8307-cf3f82b3c752">Services</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>06dfcda9-1cf8-4696-9985-100743252196</Key>
      <Name>Architecture Projects</Name>
      <Alias>architectureProjects</Alias>
      <Definition>92c023ee-beb4-4004-8de6-f5b2cd67b72f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="architecture">Architecture</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>be3beb74-be4e-4a3f-89d5-100b3f4c2405</Key>
      <Name>architecture section title</Name>
      <Alias>architectureSectionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="architecture">Architecture</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c347f132-5c70-4db3-9ed5-da4f5fd07bea</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>6b1fc313-e03d-4f9c-bf10-36eadc1663ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocks">Blocks</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3297859-b27d-4201-8c09-391efd12d2f9</Key>
      <Name>Contracting Projects</Name>
      <Alias>contractingProjects</Alias>
      <Definition>92c023ee-beb4-4004-8de6-f5b2cd67b72f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contracting">Contracting</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>926bbebc-6ba4-4d28-9fd2-6c60bd232d48</Key>
      <Name>Contracting Section Title</Name>
      <Alias>contractingSectionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contracting">Contracting</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0b2e696-08b3-44d0-8e53-59fd9dad2824</Key>
      <Name>Interior Projects</Name>
      <Alias>interiorProjects</Alias>
      <Definition>92c023ee-beb4-4004-8de6-f5b2cd67b72f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="interior">Interior</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e56358d-7188-4547-b9cc-26a1b6535469</Key>
      <Name>Interio Section Title</Name>
      <Alias>interioSectionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="interior">Interior</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>196e16b7-7ca3-45c2-bb2f-496e8f54160a</Key>
      <Caption>Contracting</Caption>
      <Alias>contracting</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>4cc001f5-38bb-4f2b-ad6c-f8b772880ff9</Key>
      <Caption>Blocks</Caption>
      <Alias>blocks</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a083e465-c944-4301-b933-40d814d3932f</Key>
      <Caption>Interior</Caption>
      <Alias>interior</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>c498601c-046f-4d23-9e01-eb69dfd91f11</Key>
      <Caption>Architecture</Caption>
      <Alias>architecture</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>