<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="44ee85e1-bfd6-4d1c-beb1-1531a04cd90d" Alias="services" Level="2">
  <Info>
    <Name>Services</Name>
    <Icon>icon-box color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Services</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8be740b6-ecdf-4c12-8307-cf3f82b3c752">Services</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c347f132-5c70-4db3-9ed5-da4f5fd07bea</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>6b1fc313-e03d-4f9c-bf10-36eadc1663ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocks">Blocks</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4cc001f5-38bb-4f2b-ad6c-f8b772880ff9</Key>
      <Caption>Blocks</Caption>
      <Alias>blocks</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>