.content-block {
    @include mobile-dev {
        display: flex !important;
        flex-direction: column;
    }

    &__image {
        height: 100%;

        & > img {
            width: 100%;
            max-height: 600px;
            aspect-ratio: 10/9;
            object-fit: cover;
        }
    }

    &__text {
        font-style: normal;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0 48px;

        @include tablet-dev {
            padding: 0 24px;
        }

        @include mobile-dev {
            padding: 0;
        }

        & > h3 {
            font-weight: 900;
            font-size: 32px;
            line-height: 44px;
            color: #0c2a36;
            margin: 0;
            padding: 0;
            @include limit-text(3)
        }

        & > p {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #0f1517;
            margin: 12px 0 0;
            padding: 0;
            @include limit-text(5)
        }

        &--cta {
            background: var(--yellow-color);
            border-radius: 4px;
            cursor: pointer;
            width: fit-content;
            margin-top: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

            & > a {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 28px;
                color: #fff;
                margin: 0;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
            }
        }
    }
}
