/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    --black-color: #252525;
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);
    --yellow-color: #eeb700;
    --body-font: $font-family;
    --normal-font-size: .938rem;
    --font-regular: 400;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
    }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.Container {
    max-width: 1024px;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
    color: var(--white-color);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-semi-bold);
    display: flex;
    flex-direction: column;
    text-decoration: none;

    &--icon {
        @include logo();
    }

    &--text {
        font-family: $font-family-Fraunces;
    }
}

.nav__logo:hover {
    text-decoration: none;
    color: var(--white-color);
}

.nav__logo i {
    font-weight: initial;
    font-size: 1.25rem;
}

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav__close {
    opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1024px) {
    .nav__menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;

        & > ul {
            list-style: none;
        }
    }

    .nav__menu::-webkit-scrollbar {
        width: 0;
    }

    .nav__list {
        background-color: var(--black-color);
        padding-top: 1rem;
        list-style: none;
    }
}

.nav__link {
    color: var(--white-color);
    background-color: var(--black-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
    text-decoration: none;
}

.nav__link:hover {
    background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/

.dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown__link {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: var(--white-color);
    background-color: var(--black-color-light);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s;
    font-family: var(--body-font);
    text-decoration: none;

    @include mobile-dev {
        padding: 0;
        margin-left: -2.5rem;
    }

    @include tablet-dev {
        padding: 0;
        margin-left: -2.5rem;
    }
}


.dropdown__link i {
    font-size: 1.25rem;
    font-weight: initial;
}

.dropdown__link:hover {
    background-color: var(--black-color);
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
}

.dropdown__sublink {
    background-color: var(--black-color-lighten);
}


/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
        margin-inline: auto;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav__link:hover {
        background-color: transparent;
    }

    .dropdown__item,
    .dropdown__subitem {
        position: relative;
    }

    .dropdown__link,
    .dropdown__sublink {
        padding-inline: 1rem 3.5rem;

        @include mobile-dev {
            padding-inline: 0;
        }

        @include tablet-dev {
            padding-inline: 0;
        }
    }

    /* Show dropdown menu */
    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
    }
}


/*_breakpoint*/
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@include mobile-dev {
    .container {
        margin-inline: 1rem;
    }

    .nav__link {
        padding-inline: 1rem;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
        margin: 0;

        &__toggle {
            display: none;
        }

        &__list {
            height: var(--header-height);
            display: flex;
            column-gap: 3rem;
        }

        &__link {
            height: 100%;
            padding: 0;
            justify-content: initial;
            column-gap: .25rem;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .dropdown {
        &__item {
            position: relative;
        }

        &__menu {
            max-height: initial;
            overflow: initial;
            left: 0;
            top: 4rem;
            opacity: 0;
            pointer-events: none;
            transition: opacity .3s, top .3s;
        }

        &__link {
            padding-inline: 1rem 3.5rem;
        }

        &__link {
            padding-inline: 1rem;
        }
        // Show dropdown menu
        &__item:hover &__menu {
            opacity: 1;
            top: 5.5rem;
            pointer-events: initial;
            transition: top .3s;
        }
    }
}


/*header*/

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--z-fixed);
    padding: 24px 12px;
}

/*=============== NAV ===============*/
.nav {
    &__menu {
        ul {
            list-style: none;
            position: relative;
        }
    }

    height: var(--header-height);

    &__logo,
    &__burger,
    &__close {
        color: var(--white-color);
    }

    &__data {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile-dev {
            width: 100%;
        }

        @include tablet-dev {
            width: 100%;
        }
    }

    &__logo {
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;
        font-weight: var(--font-semi-bold);

        & i {
            font-weight: initial;
            font-size: 1.25rem;
        }
    }

    &__toggle {
        position: relative;
        width: 32px;
        height: 32px;
    }

    &__burger,
    &__close {
        position: absolute;
        width: max-content;
        height: max-content;
        inset: 0;
        margin: auto;
        font-size: 36px;
        cursor: pointer;
        transition: opacity .1s, transform .4s;
    }

    &__close {
        opacity: 0;
    }
    // Navigation for mobile devices
    @media screen and (max-width: 1024px) {
        &__menu {
            position: absolute;
            left: 0;
            top: 2.5rem;
            width: 100%;
            height: calc(100vh - 3.5rem);
            overflow: auto;
            pointer-events: none;
            opacity: 0;
            transition: top .4s, opacity .3s;

            &::-webkit-scrollbar {
                width: 0;
            }
        }

        &__list {
            background-color: var(--black-color);
            padding-top: 4rem;
        }
    }

    &__link {
        color: var(--white-color);
        background-color: var(--black-color);
        font-weight: var(--font-semi-bold);
        display: flex;
        align-items: center;
        transition: background-color .3s;
        width: fit-content;
        font-size: 16px;

        &:hover {
            color: var(--yellow-color);
            background-color: var(--black-color);
            text-decoration: none;
        }
    }
}

/* Show menu */
.show-menu {
    opacity: 1;
    top: 6.5rem;
    pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown {
    &__item {
        cursor: pointer;
    }

    &__arrow {
        font-size: 2.25rem;
        font-weight: initial;
        transition: transform .4s;
    }

    &__link {
        font-family: var(--body-font);
        color: var(--white-color);
        background-color: var(--black-color);
        display: flex;
        align-items: center;
        column-gap: .5rem;
        font-weight: var(--font-semi-bold);
        transition: background-color .3s;
        font-size: 16px;
        display: flex;

        @media screen and (min-width: 1024px) {
            text-align: center;
            justify-content: center;
            align-content: center;
        }

        @include mobile-dev {
            padding: 0 2rem 2rem 2rem;
            margin-left: -10px;
        }

        @include tablet-dev {
            padding: 0 2rem 2rem 2rem;
            margin-left: -10px;
        }

        & i {
            font-size: 1.25rem;
            font-weight: initial;
        }

        &:hover {
            background-color: var(--black-color);
            color: var(--yellow-color);
            text-decoration: none;
        }
    }

    &__menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-out;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;

        @media screen and (min-width: 1024px) {
            position: absolute;
            top: 0 !important;
            left: 8%;
            width: fit-content;
            min-width: 200px;
            transform: translate(-50%,0)
        }
    }
    // Show dropdown menu
    &__item:hover &__menu {
        max-height: 1000px;
        transition: max-height .4s ease-in;
    }
    // Rotate dropdown icon
    &__item:hover &__arrow {
        transform: rotate(180deg);
    }
}



.languages-selector {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 8px;
    height: fit-content;
    align-items: center;
    height: 40px;
    margin-top: 7px;

    &--span {
        color: white;
    }

    & > a {
        height: fit-content;
        color: white;
        text-decoration: none;
        font-family: $font-family;
        font-size: 16px;
        font-weight: 600;
    }

    & > a:hover {
        color: var(--yellow-color);
        text-decoration: none;
    }

    &__image-container {
        width: 45px;
        height: 30px;
        position: absolute;
        left: -54px;
        top: 6px;

        & > img {
            max-width: 100%;
            height: 100%;
            object-fit: contain;
            aspect-ratio: 16/9;
        }
    }

    @include mobile-dev {
        display: none;
    }

    @include tablet-dev {
        display: none;
    }
}

@include mobile-dev {
    .nav__list {
        min-height: 800px;
    }
}

@include tablet-dev {
    .nav__list {
        min-height: 800px;
    }
}

.languages-selector-mobile {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 8px;
    height: fit-content;
    align-items: center;
    height: 40px;
    margin-top: 7px;
    display: none;
    position: absolute;
    bottom: 24px;
    left: 80px;

    &--span {
        color: white;
    }

    & > a {
        height: fit-content;
        color: white;
        text-decoration: none;
        font-family: $font-family;
        font-size: 16px;
        font-weight: 600;
    }

    & > a:hover {
        color: var(--yellow-color);
        text-decoration: none;
    }

    &__image-container {
        width: 45px;
        height: 30px;
        position: absolute;
        left: -54px;
        top: 6px;

        & > img {
            max-width: 100%;
            height: 100%;
            object-fit: contain;
            aspect-ratio: 16/9;
        }
    }

    @include mobile-dev {
        display: flex;
    }

    @include tablet-dev {
        display: flex;
    }

    &__line {
        width: 100%;
        height: 10px;
        position: absolute;
        bottom: 86px;
        left: 0;
        z-index: 1000;
        box-shadow: 0 3px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    }
}