.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 24px;
    font-family: $font-family;

    &__title {
        margin-bottom: 12px;
        color: black;
        font-weight: 900;
        font-size: 32px;
        line-height: 44px;
        color: #0c2a36;
    }

    &__description {
        color: #0f1517;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 24px;
        margin-bottom: 24px;
        color: $secondary-color;
    }
}

.gallery {
    box-shadow: 0 0.1rem 0 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 280px;
    grid-gap: 20px;
    padding-bottom: 70px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    padding: 24px;

    &--item {
        width: 100%;
        height: 280px;
        margin: 0 auto;
        cursor: pointer;
        filter: grayscale(40%);
        overflow: hidden;
        border-radius: 8px;

        & > img {
            width: 100% !important;
            height: 100% !important;
            object-position: center !important;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px, rgba(0, 0, 0, 0.5) 0px 2px 15px 0px;
            aspect-ratio: 16/9 !important;
            border-radius: 8px;
        }

        & > img:hover {
            filter: none;
            transition: 0.3s ease-out;
            transform: scale(1.06);
        }
    }

    &-item:hover {
        filter: none;
        transition: 0.3s ease-out;
        transform: scale(1.06);
    }
}

#baguetteBox-overlay .full-image img {
    display: block;
    width: 80% !important;
    height: 80% !important;
    max-height: 80% !important;
    max-width: 80% !important;
    object-position: center;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.6);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.6);
    box-shadow: 0 0 8px rgba(0,0,0,.6);
    aspect-ratio: 10/9;
    object-fit: contain !important;

    @include tablet-dev {
        width: 80% !important;
        height: auto !important; /* Reset height for tablet devices */
    }

    @include mobile-dev {
        height: 40% !important;
        max-width: 90% !important;
    }
}

.baguetteBox-button#close-button {
    top: 70px !important;
    right: 2%;
    right: calc(2% + 6px);
    width: 30px;
    height: 30px;

    @include tablet-dev {
        top: 20% !important;
        right: 4% !important;
    }

    @include mobile-dev {
        top: 20% !important;
        right: calc(5% + 6px);
    }
}

.baguetteBox-button#next-button {
    right: 60px !important;

    @include tablet-dev {
        right: 2% !important;
    }

    @include mobile-dev {
        right: 2% !important;
    }
}

.baguetteBox-button#previous-button {
    left: 60px !important;

    @include tablet-dev {
        left: 2% !important;
    }

    @include mobile-dev {
        left: 2% !important;
    }
}
