@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "MasterPage.cshtml";
}



@if (!string.IsNullOrEmpty(Model.Title))
{
    <h1>@Model.Title</h1>
}

@if (Model.Value("bodyText") != null)
{
    <p>@Model.BodyText</p>
}