
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;

@{
    var model = Model;
    var model2 = Model;
}
@* <div>
    @{
        var multimedia = Model.MediaFiles;
        foreach (var item in multimedia)
        {
            <video src="@item.MediaUrl()">
            </video>
        }
    }
</div> *@