<?xml version="1.0" encoding="utf-8"?>
<Domain Key="f5505ffb-0000-0000-0000-000000000000" Alias="/ar/project1">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar</Language>
    <Root Key="d891f088-6cbd-4dfb-87b5-dc0443307709">/الصفحة الرئيسية/Architecture Project 1</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>