<?xml version="1.0" encoding="utf-8"?>
<Domain Key="d4da890c-0000-0000-0000-000000000000" Alias="/ar">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar</Language>
    <Root Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">/الصفحة الرئيسية</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>