<?xml version="1.0" encoding="utf-8"?>
<Domain Key="03eee506-0000-0000-0000-000000000000" Alias="/en/architecture">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="af6c00f9-b070-47dd-b91a-cccdadae7100">/الصفحة الرئيسية/الهندسة المعمارية</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>