<?xml version="1.0" encoding="utf-8"?>
<Domain Key="232b816e-0000-0000-0000-000000000000" Alias="/en/aboutus">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="3fa0f8b2-041f-47a8-ad76-e48ac7214062">/الصفحة الرئيسية/معلومات عنا</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>