<?xml version="1.0" encoding="utf-8"?>
<Domain Key="2b6e3668-0000-0000-0000-000000000000" Alias="/en/contrating">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="3b9ed1d1-b1e7-48b3-b955-7432dd87637d">/الصفحة الرئيسية/المقاولات</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>