<?xml version="1.0" encoding="utf-8"?>
<Domain Key="9e440a03-0000-0000-0000-000000000000" Alias="/en/project1">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="d5e79986-3c63-483e-9588-5d5f83d64e15">/الصفحة الرئيسية/Projet 1 arabic</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>