<?xml version="1.0" encoding="utf-8"?>
<Domain Key="4ec81702-0000-0000-0000-000000000000" Alias="/en/services/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="a5a058bf-a29a-4efd-942d-9144df55a65e">/الصفحة الرئيسية/خدمات</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>