<?xml version="1.0" encoding="utf-8"?>
<Domain Key="5f785b64-0000-0000-0000-000000000000" Alias="/en">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">/الصفحة الرئيسية</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>