<?xml version="1.0" encoding="utf-8"?>
<Domain Key="0939d9ac-0000-0000-0000-000000000000" Alias="https://localhost:44355/en/contact">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="1de97e58-2eff-4ca4-833b-acf0e6198316">/الصفحة الرئيسية/اتصال</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>