<?xml version="1.0" encoding="utf-8"?>
<Domain Key="6d1398e9-0000-0000-0000-000000000000" Alias="https://localhost:44355/ar/aboutus">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar</Language>
    <Root Key="3fa0f8b2-041f-47a8-ad76-e48ac7214062">/الصفحة الرئيسية/معلومات عنا</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>