<?xml version="1.0" encoding="utf-8"?>
<Domain Key="3b5f2094-0000-0000-0000-000000000000" Alias="https://localhost:44355/ar/services">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar</Language>
    <Root Key="575b01c4-607b-46aa-841b-b2bb9c684b77">/الصفحة الرئيسية/خدمات</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>