<?xml version="1.0" encoding="utf-8"?>
<Domain Key="01542c07-0000-0000-0000-000000000000" Alias="https://localhost:44355/ar/architecture">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar</Language>
    <Root Key="af6c00f9-b070-47dd-b91a-cccdadae7100">/الصفحة الرئيسية/الهندسة المعمارية</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>