<?xml version="1.0" encoding="utf-8"?>
<Domain Key="b43fba7b-0000-0000-0000-000000000000" Alias="https://localhost:44355/ar/services/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar</Language>
    <Root Key="a5a058bf-a29a-4efd-942d-9144df55a65e">/الصفحة الرئيسية/خدمات</Root>
    <SortOrder>2</SortOrder>
  </Info>
</Domain>