<?xml version="1.0" encoding="utf-8"?>
<Domain Key="149106a7-0000-0000-0000-000000000000" Alias="https://localhost:44355/ثى/interior">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar</Language>
    <Root Key="92e19fb1-3a87-475f-9504-7811bd34af99">/الصفحة الرئيسية/التصميم الداخلي</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>