<?xml version="1.0" encoding="utf-8"?>
<Domain Key="80d950b4-0000-0000-0000-000000000000" Alias="https://localhost:44355/ar/contact">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar</Language>
    <Root Key="1de97e58-2eff-4ca4-833b-acf0e6198316">/الصفحة الرئيسية/تواصل معنا</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>