<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1205aec-a345-4543-a121-73fa2ed1fd28" Alias="AboutUsItem - AboutUsItemMedia - Media Picker" Level="1">
  <Info>
    <Name>AboutUsItem - AboutUsItemMedia - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>