<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b54177ee-3ad6-439f-8068-87e4624d9450" Alias="BannerBlock - Video - Media Picker" Level="1">
  <Info>
    <Name>BannerBlock - Video - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVideo",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>