<?xml version="1.0" encoding="utf-8"?>
<DataType Key="757b55b1-aadc-41cd-b23d-67ce289344cb" Alias="ContentBlock - PageLink - Multi URL Picker" Level="1">
  <Info>
    <Name>ContentBlock - PageLink - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>