<?xml version="1.0" encoding="utf-8"?>
<DataType Key="068c8a1e-89d0-412d-b232-92106bb0446f" Alias="Content Page - TeamImage - Media Picker" Level="1">
  <Info>
    <Name>Content Page - TeamImage - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>