<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60953aba-78b1-4d46-b5d0-382272ac9ba3" Alias="ContentBlock - Image Position - Toggle" Level="1">
  <Info>
    <Name>ContentBlock - Image Position - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Right",
  "LabelOn": "Left",
  "ShowLabels": false
}]]></Config>
</DataType>