<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5736fee-b5a7-4d50-bcbc-17cc676407b2" Alias="Project Page - Gallery Folder - Media Picker" Level="1">
  <Info>
    <Name>Project Page - Gallery Folder - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,Folder",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>