<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ed88449-62fd-40ec-942c-37ec21bdc8df" Alias="RadioPosition" Level="1">
  <Info>
    <Name>RadioPosition</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>