<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78901588-7210-4d2a-b38f-1b046a5dd11d" Alias="Service Item - ServiceImage - Media Picker" Level="1">
  <Info>
    <Name>Service Item - ServiceImage - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>