<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21932dd4-b6e9-4325-bb73-8f393df3ce6b" Alias="Site Languages Properties - Icone - Media Picker" Level="1">
  <Info>
    <Name>Site Languages Properties - Icone - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>