<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4189051e-1e77-47e7-bcc6-38dac8a6e35e" Alias="Team Members - MemberImage - Media Picker" Level="1">
  <Info>
    <Name>Team Members - MemberImage - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>