<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d959a04e-26d7-4312-84cd-15415363379c" Alias="Top Banner Properties - Media - Media Picker" Level="1">
  <Info>
    <Name>Top Banner Properties - Media - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVideo",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>