<?xml version="1.0" encoding="utf-8"?>
<Media Key="67179ca1-0cf3-4caa-8088-bf2dd6d12fff" Alias="Arab" Level="2">
  <Info>
    <Parent Key="17597d19-dd99-48d8-9026-3f3a32898747">Images</Parent>
    <Path>/Images/Arab</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-04T22:18:58</CreateDate>
    <NodeName Default="Arab" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/u4oboz5t/arab.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>