<?xml version="1.0" encoding="utf-8"?>
<Media Key="5810af1c-4778-40a6-a4e4-1ad7a7cdd1fe" Alias="Face2" Level="2">
  <Info>
    <Parent Key="17597d19-dd99-48d8-9026-3f3a32898747">Images</Parent>
    <Path>/Images/Face2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-01T16:55:08</CreateDate>
    <NodeName Default="Face2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dkxbawdy/face2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>