<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e21a037-213a-4af1-8cb0-04fac68e2d3f" Alias="Final Modi (1)" Level="3">
  <Info>
    <Parent Key="1a95d42e-ee09-4a7c-99a5-e0994f6e9123">Project 1</Parent>
    <Path>/Images/Project1/FinalModi1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-07T05:48:16</CreateDate>
    <NodeName Default="Final Modi (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ggqcddr0/final-modi-1.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>