<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6a5c045-3594-4ccf-b5e9-a92720836103" Alias="Final Modi (1)" Level="2">
  <Info>
    <Parent Key="17597d19-dd99-48d8-9026-3f3a32898747">Images</Parent>
    <Path>/Images/FinalModi1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-30T04:01:22</CreateDate>
    <NodeName Default="Final Modi (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ipakl3uu/final-modi-1.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>