<?xml version="1.0" encoding="utf-8"?>
<Media Key="14a8459d-4cc7-4790-a442-9e264ba296b9" Alias="Govermenta Villa Facade (8)" Level="2">
  <Info>
    <Parent Key="17597d19-dd99-48d8-9026-3f3a32898747">Images</Parent>
    <Path>/Images/GovermentaVillaFacade8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-30T04:01:22</CreateDate>
    <NodeName Default="Govermenta Villa Facade (8)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tnclqfgh/govermenta-villa-facade-8.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>