<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a39e503-cf9a-4e45-8afe-601caea5f70e" Alias="Govermenta Villa Facade (7)" Level="2">
  <Info>
    <Parent Key="17597d19-dd99-48d8-9026-3f3a32898747">Images</Parent>
    <Path>/Images/GovermentaVillaFacade7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-30T04:01:22</CreateDate>
    <NodeName Default="Govermenta Villa Facade (7)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/axsds4u0/govermenta-villa-facade-7.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>