<?xml version="1.0" encoding="utf-8"?>
<Media Key="17597d19-dd99-48d8-9026-3f3a32898747" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-30T04:01:15</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>