<?xml version="1.0" encoding="utf-8"?>
<Media Key="a81b9130-5698-45c4-b370-a887a5f2895d" Alias="OUTDOOR (2)" Level="3">
  <Info>
    <Parent Key="1a95d42e-ee09-4a7c-99a5-e0994f6e9123">Project 1</Parent>
    <Path>/Images/Project1/OUTDOOR2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-07T05:48:17</CreateDate>
    <NodeName Default="OUTDOOR (2)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g0ibxkey/outdoor-2.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>