<?xml version="1.0" encoding="utf-8"?>
<Media Key="591f4164-f549-4c6f-9601-48c9f0c357e4" Alias="Pexels Kaique Rocha 65438" Level="3">
  <Info>
    <Parent Key="1a95d42e-ee09-4a7c-99a5-e0994f6e9123">Project 1</Parent>
    <Path>/Images/Project1/PexelsKaiqueRocha65438</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-07T03:56:59</CreateDate>
    <NodeName Default="Pexels Kaique Rocha 65438" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mjab4wkj/pexels-kaique-rocha-65438.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>