<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fe1565e-bd86-48a9-8e98-9d10910e5fab" Alias="Pexels Expect Best 323705" Level="3">
  <Info>
    <Parent Key="1a95d42e-ee09-4a7c-99a5-e0994f6e9123">Project 1</Parent>
    <Path>/Images/Project1/PexelsExpectBest323705</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-07T03:56:59</CreateDate>
    <NodeName Default="Pexels Expect Best 323705" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lblocp2g/pexels-expect-best-323705.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>