<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e590c61-3d40-462b-9220-fafc68f10fb5" Alias="Pexels Pixabay 302769" Level="3">
  <Info>
    <Parent Key="1a95d42e-ee09-4a7c-99a5-e0994f6e9123">Project 1</Parent>
    <Path>/Images/Project1/PexelsPixabay302769</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-07T03:56:58</CreateDate>
    <NodeName Default="Pexels Pixabay 302769" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m2gfslsa/pexels-pixabay-302769.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>