<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a95d42e-ee09-4a7c-99a5-e0994f6e9123" Alias="Project 1" Level="2">
  <Info>
    <Parent Key="17597d19-dd99-48d8-9026-3f3a32898747">Images</Parent>
    <Path>/Images/Project1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-04-07T03:56:10</CreateDate>
    <NodeName Default="Project 1" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>