<?xml version="1.0" encoding="utf-8"?>
<Media Key="19cea6c4-4372-4d5b-9fd7-3cbaf9492aa8" Alias="Samplejpgimage 10Mbmb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Samplejpgimage10Mbmb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-11T13:14:42</CreateDate>
    <NodeName Default="Samplejpgimage 10Mbmb" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yktm2gls/samplejpgimage_10mbmb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>