<?xml version="1.0" encoding="utf-8"?>
<Media Key="94c9cd8d-9d3e-4969-9d9e-d9767cea706d" Alias="Skog Banner Startsida 2 (1)" Level="3">
  <Info>
    <Parent Key="1a95d42e-ee09-4a7c-99a5-e0994f6e9123">Project 1</Parent>
    <Path>/Images/Project1/SkogBannerStartsida21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-07T05:48:17</CreateDate>
    <NodeName Default="Skog Banner Startsida 2 (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rpgntfb4/skog-banner-startsida-2.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>