<?xml version="1.0" encoding="utf-8"?>
<Media Key="76fd73b8-83ab-4a25-b5a3-7105be82d1e5" Alias="Skog Banner Startsida 2" Level="3">
  <Info>
    <Parent Key="1a95d42e-ee09-4a7c-99a5-e0994f6e9123">Project 1</Parent>
    <Path>/Images/Project1/SkogBannerStartsida2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-07T05:44:34</CreateDate>
    <NodeName Default="Skog Banner Startsida 2" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xzzp03vl/skog-banner-startsida-2.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>