<?xml version="1.0" encoding="utf-8"?>
<Media Key="601226e1-f0bb-4e3f-afa0-8b24ee71368e" Alias="Uk" Level="2">
  <Info>
    <Parent Key="17597d19-dd99-48d8-9026-3f3a32898747">Images</Parent>
    <Path>/Images/Uk</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-04T22:18:57</CreateDate>
    <NodeName Default="Uk" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/22tbeyf1/uk.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>