@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Rama.MVC.Blocks.TextBlock.TextBlockViewModel>
@{
    var model = Model;
    var model2 = Model;
}

<div>
    <p>TextBlock No React</p>
    <h1>@Model.Title</h1>
    <h2>@Model.Subtitle</h2>
    <h3>@Model.BodyText</h3>
</div>
