<?xml version="1.0" encoding="utf-8"?>
<Content Key="d891f088-6cbd-4dfb-87b5-dc0443307709" Alias="Architecture Project 1" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//ArchitectureProject1</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2024-04-02T21:41:43</CreateDate>
    <NodeName Default="Architecture Project 1">
      <Name Culture="en-us">Architecture Project 1</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a257ebcb-1f34-4028-aecf-34b0009d03c7">ProjectPage</Template>
  </Info>
  <Properties>
    <projectDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut diam non nisi fermentum sagittis vel ut sem. Donec id feugiat mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas volutpat, dolor eget vulputate tincidunt, nulla turpis malesuada leo, nec luctus ligula eros vel mauris. Suspendisse potenti. Mauris varius pretium</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </projectDescription>
    <projectMedia>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "0b193543-bb16-424a-bfbb-8653e5f72bb0",
    "mediaKey": "7a39e503-cf9a-4e45-8afe-601caea5f70e"
  },
  {
    "key": "7addf3f0-bf5c-4c93-a67f-12e9a127730f",
    "mediaKey": "14a8459d-4cc7-4790-a442-9e264ba296b9"
  },
  {
    "key": "75634adb-3cad-4e3f-93d2-a38ef7007a6c",
    "mediaKey": "f6a5c045-3594-4ccf-b5e9-a92720836103"
  },
  {
    "key": "b0296730-331d-4e43-a0f1-0e29becf2734",
    "mediaKey": "23d9c54e-f4f0-45c8-abb6-3fffc6b15ef2"
  }
]]]></Value>
    </projectMedia>
    <projectTitle>
      <Value Culture="en-us"><![CDATA[Architecture Project 1]]></Value>
    </projectTitle>
  </Properties>
</Content>