<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d43d1d0-31a8-4a93-a496-6d60718979a0" Alias="Architecture Project 1" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//ArchitectureProject1</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2024-04-07T05:18:09</CreateDate>
    <NodeName Default="Architecture Project 1">
      <Name Culture="en-us">Architecture Project 1</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a257ebcb-1f34-4028-aecf-34b0009d03c7">ProjectPage</Template>
  </Info>
  <Properties>
    <galleryFolder>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "cf8af979-2879-4e58-a780-b22cf6123089",
    "mediaKey": "1a95d42e-ee09-4a7c-99a5-e0994f6e9123"
  }
]]]></Value>
    </galleryFolder>
    <projectDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Architecture Project 1 Architecture Project 1 Architecture Project 1 Architecture Project 1 Architecture Project 1 Architecture Project 1&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </projectDescription>
    <projectTitle>
      <Value Culture="en-us"><![CDATA[Architecture Project 1 ]]></Value>
    </projectTitle>
  </Properties>
</Content>