<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5e79986-3c63-483e-9588-5d5f83d64e15" Alias="Projet 1 arabic" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//Projet1Arabic</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2024-04-07T05:22:45</CreateDate>
    <NodeName Default="Projet 1 arabic">
      <Name Culture="ar">Projet 1 arabic</Name>
      <Name Culture="en-us">Projet 1</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a257ebcb-1f34-4028-aecf-34b0009d03c7">ProjectPage</Template>
  </Info>
  <Properties>
    <galleryFolder>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "ca1b7542-d220-46a8-aaa9-e0af65ced7b5",
    "mediaKey": "1a95d42e-ee09-4a7c-99a5-e0994f6e9123"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "aec76428-0fa5-468e-b3ea-3ec7db42ce3a",
    "mediaKey": "1a95d42e-ee09-4a7c-99a5-e0994f6e9123"
  }
]]]></Value>
    </galleryFolder>
    <projectDescription>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>Projet 1 Projet 1 Projet 1 Projet 1&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Projet 1 Projet 1 Projet 1&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </projectDescription>
    <projectTitle>
      <Value Culture="ar"><![CDATA[Projet 1 ]]></Value>
      <Value Culture="en-us"><![CDATA[Projet 1 ]]></Value>
    </projectTitle>
  </Properties>
</Content>