<?xml version="1.0" encoding="utf-8"?>
<Content Key="92e19fb1-3a87-475f-9504-7811bd34af99" Alias="التصميم الداخلي" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>interior</ContentType>
    <CreateDate>2024-04-02T19:04:24</CreateDate>
    <NodeName Default="التصميم الداخلي">
      <Name Culture="ar">التصميم الداخلي</Name>
      <Name Culture="en-us">Interior</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="bd9a3037-770d-46fb-a482-f392c0afefd3">Interior</Template>
  </Info>
  <Properties>
    <blocks>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/706f73e481fe453e8e693f00807aba91"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/706f73e481fe453e8e693f00807aba91",
      "title": "",
      "image": [
        {
          "key": "b9a26e18-bdef-4870-baeb-3d044b373a30",
          "mediaKey": "f6a5c045-3594-4ccf-b5e9-a92720836103"
        }
      ],
      "video": [],
      "wholeWidth": "True",
      "isTopBanner": "True"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f30c2c9a02fb4c1d820eb3eb00e65b4d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/f30c2c9a02fb4c1d820eb3eb00e65b4d",
      "title": "",
      "image": [
        {
          "key": "fc5c59f6-ffd5-453f-8653-9fdcfc1b28f1",
          "mediaKey": "14a8459d-4cc7-4790-a442-9e264ba296b9"
        }
      ],
      "video": [],
      "wholeWidth": "True",
      "isTopBanner": "True"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <bodyText>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodyText>
    <media>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </media>
    <subtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>