<?xml version="1.0" encoding="utf-8"?>
<Content Key="af6c00f9-b070-47dd-b91a-cccdadae7100" Alias="الهندسة المعمارية" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>architecture</ContentType>
    <CreateDate>2024-03-30T12:24:20</CreateDate>
    <NodeName Default="الهندسة المعمارية">
      <Name Culture="ar">الهندسة المعمارية</Name>
      <Name Culture="en-us">Architecture</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c8756e16-e960-425c-a639-9128d0423141">Architecture</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>النص الأساسي لصفحة الهندسة المعمارية النص الأساسي لصفحة الهندسة المعمارية النص الأساسي لصفحة الهندسة المعمارية النص الأساسي لصفحة الهندسة المعمارية</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Architecture Page Body text&nbsp;Architecture Page Body text&nbsp;Architecture Page Body text&nbsp;Architecture Page Body text</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <media>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "4d20a2f4-04ba-42a0-a1c5-c5ee55161a86",
    "mediaKey": "23d9c54e-f4f0-45c8-abb6-3fffc6b15ef2"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c437e7fd-6b9a-4d6a-9045-c65b7a1ef93c",
    "mediaKey": "23d9c54e-f4f0-45c8-abb6-3fffc6b15ef2"
  }
]]]></Value>
    </media>
    <subtitle>
      <Value Culture="ar"><![CDATA[العنوان الفرعي لصفحة الهندسة المعمارية]]></Value>
      <Value Culture="en-us"><![CDATA[Architecture Page Subtitle]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[عنوان صفحة الهندسة المعمارية]]></Value>
      <Value Culture="en-us"><![CDATA[Architecture Page Title]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>