<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0" Alias="الصفحة الرئيسية" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-03-08T00:21:46</CreateDate>
    <NodeName Default="الصفحة الرئيسية">
      <Name Culture="ar">الصفحة الرئيسية</Name>
      <Name Culture="en-us">Homepage</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="547dc863-c8a4-4f26-876e-80e52829af80">HomePage</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>شارع الملك فيصل</p>\n<p>الجادة 50</p>\n<p>الرياض السعودية</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Södra Kaserngatan 17&nbsp;</p>\n<p>29032 Kristianstad</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </address>
    <blocks>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5309d19fbdae45b580ea145175c650cd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a7f79c39-861b-4304-9b38-01cc763f39f7",
      "udi": "umb://element/5309d19fbdae45b580ea145175c650cd",
      "topBannerImage": [
        {
          "key": "9cf0c697-e10e-4ce7-b10c-59ee76831a90",
          "mediaKey": "2907beb6-ec73-4440-9a22-091f40dcb7ce"
        }
      ],
      "title": "Top Banner Title ",
      "subtitle": "Subtitle Top banner"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/70635b9a5f58420ea77510ec5cfe7d9b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a7f79c39-861b-4304-9b38-01cc763f39f7",
      "udi": "umb://element/70635b9a5f58420ea77510ec5cfe7d9b",
      "topBannerImage": [
        {
          "key": "3629f843-f097-4b4d-91a4-c68a34c7ddc1",
          "mediaKey": "19cea6c4-4372-4d5b-9fd7-3cbaf9492aa8"
        }
      ],
      "title": "Top Banner",
      "subtitle": "Subtitle Top Banner"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <bodyText>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodyText>
    <footerDescription>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>أفضل شركة لتصميم وتوضيح كل ما تحتاجه بين يديك.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>The best company for designing and articulating all you need in your hand. whatever whatever whatever.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </footerDescription>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "x-twitter",
    "name": "twitter",
    "url": "https://twitter.com/Rama_Contractor"
  },
  {
    "network": "instagram",
    "name": "instagram",
    "url": "https://instagram.com/rama.spe/"
  },
  {
    "network": "facebook",
    "name": "facebook",
    "url": "https://facebook.com/Ramaspecialized/"
  }
]]]></Value>
    </footerSocialLinks>
    <mainNavigation>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/66d9d1f1aceb4fb7b3ab96f5c0f040de"
      },
      {
        "contentUdi": "umb://element/892dea05af234580ad624c5a9185105d"
      },
      {
        "contentUdi": "umb://element/2c37d159ef684fa7a277224adee2973b"
      },
      {
        "contentUdi": "umb://element/7636d4d36f7e4a56be7fd21e1de393cd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/66d9d1f1aceb4fb7b3ab96f5c0f040de",
      "title": "الصفحة الرئيسية",
      "link": [
        {
          "name": "الصفحة الرئيسية",
          "udi": "umb://document/4fac18a7d0a44b53ba098da4247c7fe0",
          "queryString": ""
        }
      ],
      "subLinks": null
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/892dea05af234580ad624c5a9185105d",
      "title": "معلومات عنا",
      "link": [
        {
          "name": "معلومات عنا",
          "udi": "umb://document/3fa0f8b2041f47a8ad76e48ac7214062"
        }
      ],
      "subLinks": null
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/7636d4d36f7e4a56be7fd21e1de393cd",
      "title": "خدمات",
      "link": [
        {
          "name": "خدمات",
          "udi": "umb://document/575b01c4607b46aa841bb2bb9c684b77"
        }
      ],
      "subLinks": [
        {
          "name": "خدمات",
          "udi": "umb://document/575b01c4607b46aa841bb2bb9c684b77"
        },
        {
          "name": "الهندسة المعمارية",
          "udi": "umb://document/af6c00f9b07047ddb91acccdadae7100"
        },
        {
          "name": "المقاولات",
          "udi": "umb://document/3b9ed1d1b1e748b3b9557432dd87637d"
        },
        {
          "name": "التصميم الداخلي",
          "udi": "umb://document/c794fc6283ef4f2d9a1f78a85a4ff7a0"
        }
      ]
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/2c37d159ef684fa7a277224adee2973b",
      "title": "تواصل معنا",
      "link": [
        {
          "name": "Contact",
          "udi": "umb://document/1de97e582eff4ca4833bacf0e6198316"
        }
      ],
      "subLinks": null
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b3c8ae43b6f7488e8082dfad58728eca"
      },
      {
        "contentUdi": "umb://element/9fcde490bd72411a8347f99a1a7d51e7"
      },
      {
        "contentUdi": "umb://element/c09d893688344b7491164dbe8193c947"
      },
      {
        "contentUdi": "umb://element/d0c62e24466c4fd181ac97b7142e1ee6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/b3c8ae43b6f7488e8082dfad58728eca",
      "title": "Home",
      "link": [
        {
          "name": "Homepage",
          "udi": "umb://document/4fac18a7d0a44b53ba098da4247c7fe0"
        }
      ],
      "subLinks": null
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/9fcde490bd72411a8347f99a1a7d51e7",
      "title": "About",
      "link": [
        {
          "name": "About us",
          "udi": "umb://document/3fa0f8b2041f47a8ad76e48ac7214062"
        }
      ],
      "subLinks": null
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/d0c62e24466c4fd181ac97b7142e1ee6",
      "title": "Services",
      "link": [
        {
          "name": "Services",
          "udi": "umb://document/575b01c4607b46aa841bb2bb9c684b77"
        }
      ],
      "subLinks": [
        {
          "name": "Services",
          "udi": "umb://document/575b01c4607b46aa841bb2bb9c684b77"
        },
        {
          "name": "Architecture Page",
          "udi": "umb://document/af6c00f9b07047ddb91acccdadae7100"
        },
        {
          "name": "Contracting Page",
          "udi": "umb://document/3b9ed1d1b1e748b3b9557432dd87637d"
        },
        {
          "name": "Interior Page",
          "udi": "umb://document/c794fc6283ef4f2d9a1f78a85a4ff7a0"
        }
      ]
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/c09d893688344b7491164dbe8193c947",
      "title": "Contact us",
      "link": [
        {
          "name": "Contact",
          "udi": "umb://document/1de97e582eff4ca4833bacf0e6198316"
        }
      ],
      "subLinks": null
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <media>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </media>
    <subtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[عنوان الصفحة]]></Value>
      <Value Culture="en-us"><![CDATA[The title of the page Home page]]></Value>
    </title>
  </Properties>
</Content>