<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0" Alias="الصفحة الرئيسية" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-03-08T00:21:46</CreateDate>
    <NodeName Default="الصفحة الرئيسية">
      <Name Culture="ar">الصفحة الرئيسية</Name>
      <Name Culture="en-us">Homepage</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="547dc863-c8a4-4f26-876e-80e52829af80">HomePage</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="ar"><![CDATA[{
  "markup": "<h6 class=\"font_6 wixui-rich-text__text\" style=\"font-size: 15px; line-height: normal;\"><span class=\"color_13 wixui-rich-text__text\"><span class=\"wixui-rich-text__text\" style=\"font-size: 15px;\">جدة، المملكة العربية السعودية،</span></span></h6>\n<h6 class=\"font_6 wixui-rich-text__text\" style=\"font-size: 15px; line-height: normal;\"><span class=\"color_13 wixui-rich-text__text\"><span class=\"wixui-rich-text__text\" style=\"font-size: 15px;\">&nbsp;الأمير سعود الفيصل، الروضة، جدة 23433</span></span></h6>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<h6 class=\"font_6 wixui-rich-text__text\" style=\"font-size: 15px; line-height: normal;\"><span class=\"color_13 wixui-rich-text__text\"><span class=\"wixui-rich-text__text\" style=\"font-size: 15px;\">Jeddah, Saudi Arabia, Prince Saud Al Faisal, </span></span></h6>\n<h6 class=\"font_6 wixui-rich-text__text\" style=\"font-size: 15px; line-height: normal;\"><span class=\"color_13 wixui-rich-text__text\"><span class=\"wixui-rich-text__text\" style=\"font-size: 15px;\">Ar Rawdah, Jeddah 23433</span></span></h6>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </address>
    <blocks>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e5936b11c7be421582dad19894627f4b"
      },
      {
        "contentUdi": "umb://element/236d6abd22be4f589cea34ea93ef934f"
      },
      {
        "contentUdi": "umb://element/b680b6937425435fb7057583f03dd9e2"
      },
      {
        "contentUdi": "umb://element/8fb8a2c3fad9481e89582521bab66bb3"
      },
      {
        "contentUdi": "umb://element/9236171b05d742d7ac1254a0e022f99c"
      },
      {
        "contentUdi": "umb://element/78eff0d322ab40dfb02ecb6b5791e7e7"
      },
      {
        "contentUdi": "umb://element/dc9d665dc3cd4194b9bebe6617d61476"
      },
      {
        "contentUdi": "umb://element/9e0c91b379624525a9b85bab77cd2b29"
      },
      {
        "contentUdi": "umb://element/8d29eb9d6a664879b89211bdbd5075f6"
      },
      {
        "contentUdi": "umb://element/d79e2faafeb242b095ddbb07657e6168"
      },
      {
        "contentUdi": "umb://element/903d536d44c14bccb7e084834ad68d80"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/e5936b11c7be421582dad19894627f4b",
      "title": "عنوان للتدجريب",
      "image": [
        {
          "key": "821aed21-6da2-4532-962a-ee046d25d958",
          "mediaKey": "14a8459d-4cc7-4790-a442-9e264ba296b9"
        }
      ],
      "video": [],
      "wholeWidth": "True",
      "isTopBanner": "True"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/236d6abd22be4f589cea34ea93ef934f",
      "spacerDesktop": "24",
      "spacerTablet": "16",
      "spacerMobile": "16"
    },
    {
      "contentTypeKey": "6e6e78cb-672a-44f8-9d98-3d0f7161d332",
      "udi": "umb://element/b680b6937425435fb7057583f03dd9e2",
      "image": [
        {
          "key": "823ae04b-f6f3-4d98-8df3-992e719d3fef",
          "mediaKey": "19cea6c4-4372-4d5b-9fd7-3cbaf9492aa8"
        }
      ],
      "pageLink": [
        {
          "name": "المقاولات",
          "udi": "umb://document/3b9ed1d1b1e748b3b9557432dd87637d"
        }
      ],
      "title": "المقاولات",
      "subtitle": "لوريم إيبسوم هو نص دمجم خيالي من صناعة الطباعة والتنضيد. كان لوريم إيبسوم النص الدمجمي القياسي في الصناعة منذ القرن الخامس عشر، عندما قام الطباع بمجهول بأخذ مجموعة من النوع وتدوينها ليعطي كتابًا ضدع لمعرض الطباعة. تمت تطبيق أساليب النص هذه، والتي لا تزال غير محدثة، على النطاق الواسع في حقول الصناعة والأعمال حتى اليوم",
      "imagePosition": "Left"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/8fb8a2c3fad9481e89582521bab66bb3",
      "spacerDesktop": "24",
      "spacerTablet": "16",
      "spacerMobile": "16"
    },
    {
      "contentTypeKey": "6e6e78cb-672a-44f8-9d98-3d0f7161d332",
      "udi": "umb://element/dc9d665dc3cd4194b9bebe6617d61476",
      "image": [
        {
          "key": "5ad50ed0-7419-4f76-a23a-c7e612b8539c",
          "mediaKey": "23d9c54e-f4f0-45c8-abb6-3fffc6b15ef2"
        }
      ],
      "pageLink": [
        {
          "name": "التصميم الداخلي",
          "udi": "umb://document/92e19fb13a87475f95047811bd34af99"
        }
      ],
      "title": "تصميم داخلي",
      "subtitle": "على النطاق الواسع في حقول الصناعة والأعمال حتى اليوم",
      "imagePosition": "Right"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/9e0c91b379624525a9b85bab77cd2b29",
      "spacerDesktop": "24",
      "spacerTablet": "16",
      "spacerMobile": "16"
    },
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/8d29eb9d6a664879b89211bdbd5075f6",
      "title": "Testing banner block",
      "image": [
        {
          "key": "e8e66fe5-62f5-4b29-828f-2ec9197c33c2",
          "mediaKey": "f6a5c045-3594-4ccf-b5e9-a92720836103"
        }
      ],
      "video": [],
      "wholeWidth": "False",
      "isTopBanner": "False"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/d79e2faafeb242b095ddbb07657e6168",
      "spacerDesktop": "24",
      "spacerTablet": "16",
      "spacerMobile": "16"
    },
    {
      "contentTypeKey": "6e6e78cb-672a-44f8-9d98-3d0f7161d332",
      "udi": "umb://element/903d536d44c14bccb7e084834ad68d80",
      "image": [
        {
          "key": "4d20a25a-94f7-421c-bce8-2ddb418dbcf4",
          "mediaKey": "23d9c54e-f4f0-45c8-abb6-3fffc6b15ef2"
        }
      ],
      "pageLink": [
        {
          "name": "اضغط",
          "udi": "umb://document/af6c00f9b07047ddb91acccdadae7100"
        }
      ],
      "title": "الهندسة المعمارية",
      "subtitle": " في الصناعة منذ القرن الخامس عشر، عندما قام الطباع بمجهول بأخذ مجموعة من النوع وتدوينها ليعطي كتابًا ضدع لمعرض الطباعة. تمت تطبيق أساليب النص هذه، والتي لا تزال غير محدثة، على النطاق الواسع في حقول",
      "imagePosition": "Left"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/78eff0d322ab40dfb02ecb6b5791e7e7",
      "spacerDesktop": "24",
      "spacerTablet": "16",
      "spacerMobile": "16"
    },
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/9236171b05d742d7ac1254a0e022f99c",
      "title": "تجريب",
      "image": [],
      "video": [
        {
          "key": "0ee20c51-c985-4e5f-8bbc-54004c63a823",
          "mediaKey": "2907beb6-ec73-4440-9a22-091f40dcb7ce"
        }
      ],
      "wholeWidth": "False",
      "isTopBanner": "False"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bc89168762cb45b79d18c0f138874c6e"
      },
      {
        "contentUdi": "umb://element/cdd13ae40def41e2a7bdc3961c13d760"
      },
      {
        "contentUdi": "umb://element/e8f8985bc5574f7990ffb87f914acd55"
      },
      {
        "contentUdi": "umb://element/b726092d586f47218d03db874d1b6146"
      },
      {
        "contentUdi": "umb://element/aaf02ede32db4fb4a578c93f0acd2662"
      },
      {
        "contentUdi": "umb://element/aa6d0374ef3c4a9ca6b244f466605450"
      },
      {
        "contentUdi": "umb://element/c42c04a0f1744ddeb2c9a9f419b3d79a"
      },
      {
        "contentUdi": "umb://element/bba6797acc754227a5625f524939f1a1"
      },
      {
        "contentUdi": "umb://element/3a0598bbad17480aa090a0194e8d94f9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/bc89168762cb45b79d18c0f138874c6e",
      "title": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an ",
      "image": [
        {
          "key": "45209a92-e67f-4ccf-9d49-d73ef77c8012",
          "mediaKey": "f6a5c045-3594-4ccf-b5e9-a92720836103"
        }
      ],
      "video": [],
      "wholeWidth": "True",
      "isTopBanner": "True"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/cdd13ae40def41e2a7bdc3961c13d760",
      "spacerDesktop": "24",
      "spacerTablet": "16",
      "spacerMobile": "16"
    },
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/e8f8985bc5574f7990ffb87f914acd55",
      "title": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an ",
      "image": [],
      "video": [
        {
          "key": "ff69c976-8168-4f97-a57b-ee44f9d0435f",
          "mediaKey": "2907beb6-ec73-4440-9a22-091f40dcb7ce"
        }
      ],
      "wholeWidth": "Right",
      "isTopBanner": "Right"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/b726092d586f47218d03db874d1b6146",
      "spacerDesktop": "24",
      "spacerTablet": "16",
      "spacerMobile": "16"
    },
    {
      "contentTypeKey": "6e6e78cb-672a-44f8-9d98-3d0f7161d332",
      "udi": "umb://element/aaf02ede32db4fb4a578c93f0acd2662",
      "image": [
        {
          "key": "b7d61f41-999c-4546-a48b-98e7e6d9fbe6",
          "mediaKey": "19cea6c4-4372-4d5b-9fd7-3cbaf9492aa8"
        }
      ],
      "title": "Architecture",
      "subtitle": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop ",
      "imagePosition": "Left",
      "pageLink": [
        {
          "name": "Architecture",
          "target": "",
          "udi": "umb://document/af6c00f9b07047ddb91acccdadae7100"
        }
      ]
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/aa6d0374ef3c4a9ca6b244f466605450",
      "spacerDesktop": "24",
      "spacerTablet": "16",
      "spacerMobile": "16"
    },
    {
      "contentTypeKey": "6e6e78cb-672a-44f8-9d98-3d0f7161d332",
      "udi": "umb://element/c42c04a0f1744ddeb2c9a9f419b3d79a",
      "image": [
        {
          "key": "5ad50ed0-7419-4f76-a23a-c7e612b8539c",
          "mediaKey": "23d9c54e-f4f0-45c8-abb6-3fffc6b15ef2"
        }
      ],
      "pageLink": [
        {
          "name": "Contracting",
          "udi": "umb://document/3b9ed1d1b1e748b3b9557432dd87637d"
        }
      ],
      "title": "Contracting",
      "subtitle": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop ",
      "imagePosition": "Right"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/bba6797acc754227a5625f524939f1a1",
      "spacerDesktop": "24",
      "spacerTablet": "16",
      "spacerMobile": "16"
    },
    {
      "contentTypeKey": "6e6e78cb-672a-44f8-9d98-3d0f7161d332",
      "udi": "umb://element/3a0598bbad17480aa090a0194e8d94f9",
      "image": [
        {
          "key": "ab9473b4-b44c-4926-9c01-f6e32debb6b0",
          "mediaKey": "7a39e503-cf9a-4e45-8afe-601caea5f70e"
        }
      ],
      "pageLink": [
        {
          "name": "Interior",
          "udi": "umb://document/92e19fb13a87475f95047811bd34af99"
        }
      ],
      "title": "Interior",
      "subtitle": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop ",
      "imagePosition": "Left"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <bodyText>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodyText>
    <footerDescription>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>أفضل شركة لتصميم وتوضيح كل ما تحتاجه بين يديك.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>The best company for designing and articulating all you need in your hand. whatever whatever whatever.The best company for designing and articulating all you need in your hand. whatever whatever whatever.The best company for designing and articulating all you need in your hand. whatever whatever whatever.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </footerDescription>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "x-twitter",
    "name": "twitter",
    "url": "https://twitter.com/RamaContract"
  },
  {
    "network": "instagram",
    "name": "instagram",
    "url": "https://instagram.com/rama.spe/"
  },
  {
    "network": "facebook",
    "name": "facebook",
    "url": "https://facebook.com/Ramaspecialized/"
  }
]]]></Value>
    </footerSocialLinks>
    <mainLanguages>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/24a0665f884e41f08ce1385bf655d74f"
      },
      {
        "contentUdi": "umb://element/5c72abc3a8a24bbd93d4735d49660dda"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "06f19ac5-fb0c-4456-b4df-5d7af5aaba43",
      "udi": "umb://element/24a0665f884e41f08ce1385bf655d74f",
      "language": "عربي",
      "link": [
        {
          "name": "/ar/",
          "url": "/ar/"
        }
      ],
      "icon": [
        {
          "key": "b4cccbb9-a806-46f8-8952-9c17b4142c2c",
          "mediaKey": "67179ca1-0cf3-4caa-8088-bf2dd6d12fff"
        }
      ]
    },
    {
      "contentTypeKey": "06f19ac5-fb0c-4456-b4df-5d7af5aaba43",
      "udi": "umb://element/5c72abc3a8a24bbd93d4735d49660dda",
      "language": "انكليزي",
      "link": [
        {
          "name": "/en/",
          "url": "/en/"
        }
      ],
      "icon": [
        {
          "key": "32715299-4642-4926-a836-eb9922d50d9f",
          "mediaKey": "601226e1-f0bb-4e3f-afa0-8b24ee71368e"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9b4b829041334f40a7a3c0680547a9ed"
      },
      {
        "contentUdi": "umb://element/eaf9d05c741d4788a3c5052da92cfe1e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "06f19ac5-fb0c-4456-b4df-5d7af5aaba43",
      "udi": "umb://element/9b4b829041334f40a7a3c0680547a9ed",
      "language": "Arabic",
      "link": [
        {
          "name": "/ar/",
          "url": "/ar/"
        }
      ],
      "icon": [
        {
          "key": "a74f0f2b-3c85-4fcd-a649-469d79525fcf",
          "mediaKey": "67179ca1-0cf3-4caa-8088-bf2dd6d12fff"
        }
      ]
    },
    {
      "contentTypeKey": "06f19ac5-fb0c-4456-b4df-5d7af5aaba43",
      "udi": "umb://element/eaf9d05c741d4788a3c5052da92cfe1e",
      "language": "English",
      "link": [
        {
          "name": "/en/",
          "url": "/en/"
        }
      ],
      "icon": [
        {
          "key": "31701ca5-946d-4494-935d-1049fc763c7f",
          "mediaKey": "601226e1-f0bb-4e3f-afa0-8b24ee71368e"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainLanguages>
    <mainNavigation>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/66d9d1f1aceb4fb7b3ab96f5c0f040de"
      },
      {
        "contentUdi": "umb://element/2c37d159ef684fa7a277224adee2973b"
      },
      {
        "contentUdi": "umb://element/892dea05af234580ad624c5a9185105d"
      },
      {
        "contentUdi": "umb://element/7636d4d36f7e4a56be7fd21e1de393cd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/66d9d1f1aceb4fb7b3ab96f5c0f040de",
      "title": "الصفحة الرئيسية",
      "link": [
        {
          "name": "الصفحة الرئيسية",
          "udi": "umb://document/4fac18a7d0a44b53ba098da4247c7fe0",
          "queryString": ""
        }
      ],
      "subLinks": null
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/892dea05af234580ad624c5a9185105d",
      "title": "معلومات عنا",
      "link": [
        {
          "name": "معلومات عنا",
          "udi": "umb://document/3fa0f8b2041f47a8ad76e48ac7214062"
        }
      ],
      "subLinks": null
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/7636d4d36f7e4a56be7fd21e1de393cd",
      "title": "خدمات",
      "link": [
        {
          "name": "خدمات",
          "udi": "umb://document/575b01c4607b46aa841bb2bb9c684b77"
        }
      ],
      "subLinks": [
        {
          "name": "خدمات",
          "udi": "umb://document/a5a058bfa29a4efd942d9144df55a65e"
        },
        {
          "name": "الهندسة المعمارية",
          "udi": "umb://document/af6c00f9b07047ddb91acccdadae7100"
        },
        {
          "name": "المقاولات",
          "udi": "umb://document/3b9ed1d1b1e748b3b9557432dd87637d"
        },
        {
          "name": "التصميم الداخلي",
          "udi": "umb://document/92e19fb13a87475f95047811bd34af99"
        }
      ]
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/2c37d159ef684fa7a277224adee2973b",
      "title": "تواصل معنا",
      "link": [
        {
          "name": "Contact",
          "udi": "umb://document/1de97e582eff4ca4833bacf0e6198316"
        }
      ],
      "subLinks": null
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b3c8ae43b6f7488e8082dfad58728eca"
      },
      {
        "contentUdi": "umb://element/9fcde490bd72411a8347f99a1a7d51e7"
      },
      {
        "contentUdi": "umb://element/c09d893688344b7491164dbe8193c947"
      },
      {
        "contentUdi": "umb://element/d0c62e24466c4fd181ac97b7142e1ee6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/b3c8ae43b6f7488e8082dfad58728eca",
      "title": "Home",
      "link": [
        {
          "name": "Homepage",
          "udi": "umb://document/4fac18a7d0a44b53ba098da4247c7fe0"
        }
      ],
      "subLinks": null
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/9fcde490bd72411a8347f99a1a7d51e7",
      "title": "About",
      "link": [
        {
          "name": "About us",
          "udi": "umb://document/3fa0f8b2041f47a8ad76e48ac7214062"
        }
      ],
      "subLinks": null
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/d0c62e24466c4fd181ac97b7142e1ee6",
      "title": "Services",
      "link": [
        {
          "name": "Services",
          "udi": "umb://document/575b01c4607b46aa841bb2bb9c684b77"
        }
      ],
      "subLinks": [
        {
          "name": "Services",
          "udi": "umb://document/a5a058bfa29a4efd942d9144df55a65e"
        },
        {
          "name": "Architecture",
          "udi": "umb://document/af6c00f9b07047ddb91acccdadae7100"
        },
        {
          "name": "Contracting",
          "udi": "umb://document/3b9ed1d1b1e748b3b9557432dd87637d"
        },
        {
          "name": "Interior",
          "udi": "umb://document/92e19fb13a87475f95047811bd34af99"
        }
      ]
    },
    {
      "contentTypeKey": "1bef67a7-3af0-4a24-aa69-566a7a07a993",
      "udi": "umb://element/c09d893688344b7491164dbe8193c947",
      "title": "Contact us",
      "link": [
        {
          "name": "Contact",
          "udi": "umb://document/1de97e582eff4ca4833bacf0e6198316"
        }
      ],
      "subLinks": null
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <media>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </media>
    <subtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[عنوان الصفحة]]></Value>
      <Value Culture="en-us"><![CDATA[The title of the page Home page]]></Value>
    </title>
  </Properties>
</Content>