<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b9ed1d1-b1e7-48b3-b955-7432dd87637d" Alias="المقاولات" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>contracting</ContentType>
    <CreateDate>2024-03-30T12:25:10</CreateDate>
    <NodeName Default="المقاولات">
      <Name Culture="ar">المقاولات</Name>
      <Name Culture="en-us">Contracting</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="50bae1aa-c91f-42c8-ab24-bd772c7f82b7">Contracting</Template>
  </Info>
  <Properties>
    <blocks>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/560e2ef8341942379b930f60d2eb29a7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/560e2ef8341942379b930f60d2eb29a7",
      "title": "",
      "image": [
        {
          "key": "4701ea32-4a89-40f6-a552-6784c404c0a0",
          "mediaKey": "14a8459d-4cc7-4790-a442-9e264ba296b9"
        }
      ],
      "video": [],
      "wholeWidth": "True",
      "isTopBanner": "True"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <bodyText>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>Contracting Page Body Contracting Page Body Contracting Page Body Contracting Page Body Contracting Page Body Contracting Page Body</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>صفحة تعاقدات هيئة صفحة تعاقدات هيئة صفحة تعاقد هيئة صفحة تعاقد هيئة صفحة تعاقد هيئة صفحة تعاقد هيئة</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <media>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "32f55009-50c9-4ab5-8180-511ee56560c3",
    "mediaKey": "f6a5c045-3594-4ccf-b5e9-a92720836103"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "3fc5983d-2eff-45f8-a273-f1ae66e16809",
    "mediaKey": "f6a5c045-3594-4ccf-b5e9-a92720836103"
  }
]]]></Value>
    </media>
    <subtitle>
      <Value Culture="ar"><![CDATA[Contracting Page Subtitle]]></Value>
      <Value Culture="en-us"><![CDATA[عنوان فرعي لصفحة التعاقد]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[Contracting Page Title]]></Value>
      <Value Culture="en-us"><![CDATA[عنوان صفحة التعاقد]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>