<?xml version="1.0" encoding="utf-8"?>
<Content Key="c794fc62-83ef-4f2d-9a1f-78a85a4ff7a0" Alias="التصميم الداخلي" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>interior</ContentType>
    <CreateDate>2024-03-30T12:27:35</CreateDate>
    <NodeName Default="التصميم الداخلي">
      <Name Culture="ar">التصميم الداخلي</Name>
      <Name Culture="en-us">Interior</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="bd9a3037-770d-46fb-a482-f392c0afefd3">Interior</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>نص داخلي للصفحة التصميم الداخلينص أساسي للصفحة الداخلية نص أساسي للصفحة التصميم الداخلينص أساسي للصفحة التصميم الداخلينص أساسي للصفحة التصميم الداخلي</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Interior Page Bodytext Interior Page Bodytext Interior Page Bodytext v Interior Page Bodytext Interior Page Bodytext</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <media>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </media>
    <subtitle>
      <Value Culture="ar"><![CDATA[العنوان الفرعي للصفحة التصميم الداخلي]]></Value>
      <Value Culture="en-us"><![CDATA[Interior Page Subtitle]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[عنوان الصفحة التصميم الداخلي]]></Value>
      <Value Culture="en-us"><![CDATA[Interior Page Title]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>