<?xml version="1.0" encoding="utf-8"?>
<Content Key="1de97e58-2eff-4ca4-833b-acf0e6198316" Alias="تواصل معنا" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-03-29T12:57:08</CreateDate>
    <NodeName Default="تواصل معنا">
      <Name Culture="ar">تواصل معنا</Name>
      <Name Culture="en-us">Contact</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="5d00defa-7303-465d-9a98-aa84eac989df">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>إذا كنت ترغب في التحدث إلينا بخصوص استفسار تجاري جديد، يرجى الاتصال بعامر العطار على الرقم +966 50 563 5240 أو&nbsp;<span class=\"wixui-rich-text__text\" style=\"letter-spacing: 0.1em;\"><span class=\"wixui-rich-text__text\" style=\"text-decoration: underline;\"><a class=\"wixui-rich-text__text\">sab@ramaspe.com</a></span></span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>If you’d like to talk to us about a new business inquiry, please contact Amer Attar at +966 50 563 5240 or&nbsp;<span class=\"wixui-rich-text__text\" style=\"letter-spacing: 0.1em;\"><span class=\"wixui-rich-text__text\" style=\"text-decoration: underline;\"><a href=\"mailto:paul@wearedesignstudio.com\" target=\"_self\" class=\"wixui-rich-text__text\">sab@ramaspe.com</a></span></span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <contactForm>
      <Value Culture="ar"><![CDATA[{
  "markup": "<?UMBRACO_MACRO macroAlias=\"renderUmbracoForm\" FormGuid=\"e094e6d0-f440-4cff-88de-b21ee529884e\" FormTheme=\"\" ExcludeScripts=\"0\" RedirectToPageId=\"\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<?UMBRACO_MACRO macroAlias=\"renderUmbracoForm\" FormGuid=\"e094e6d0-f440-4cff-88de-b21ee529884e\" FormTheme=\"\" ExcludeScripts=\"0\" RedirectToPageId=\"\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </contactForm>
    <contactPhones>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>Tel: <a href=\"tel:00966 12 655 12 13\" class=\"wixui-rich-text__text\">00966 12 655 12 13&nbsp;</a></p>\n<p>Mob: <a href=\"tel:00966 560 445 444\" class=\"wixui-rich-text__text\">00966 560 445 444</a></p>\n<p>Mob: <a href=\"tel:0556901212\" class=\"wixui-rich-text__text\">00966 556 901 212</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Tel: <span class=\"wixui-rich-text__text\" style=\"text-decoration: underline;\"><a href=\"tel:00966 12 655 12 13\" class=\"wixui-rich-text__text\">00966 12 655 12 13&nbsp;</a></span></p>\n<p><span class=\"wixui-rich-text__text\" style=\"text-decoration: underline;\">Mob: <a href=\"tel:00966 560 445 444\" class=\"wixui-rich-text__text\">00966 560 445 444</a></span></p>\n<p><span class=\"wixui-rich-text__text\" style=\"text-decoration: underline;\">Mob: <a href=\"tel:0556901212\" class=\"wixui-rich-text__text\">00966 556 901 212</a></span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </contactPhones>
    <mapMedia>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "b955db68-f3c5-4acc-9923-9e51b8cd0735",
    "mediaKey": "9799c5e7-7884-4589-b961-b93108042d21"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "898be219-3664-41c7-ac01-5802a6835a42",
    "mediaKey": "9799c5e7-7884-4589-b961-b93108042d21"
  }
]]]></Value>
    </mapMedia>
    <mapSubtitle>
      <Value Culture="ar"><![CDATA[جدة، المملكة العربية السعودية، الأمير سعود الفيصل، الروضة، جدة 23433]]></Value>
      <Value Culture="en-us"><![CDATA[Jeddah, Saudi Arabia, Prince Saud Al Faisal, Ar Rawdah, Jeddah 23433]]></Value>
    </mapSubtitle>
    <mapTitle>
      <Value Culture="ar"><![CDATA[موقعنا]]></Value>
      <Value Culture="en-us"><![CDATA[Location]]></Value>
    </mapTitle>
    <media>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </media>
    <subtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[دعونا نتحدث]]></Value>
      <Value Culture="en-us"><![CDATA[Let's Talk]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>