<?xml version="1.0" encoding="utf-8"?>
<Content Key="575b01c4-607b-46aa-841b-b2bb9c684b77" Alias="خدمات" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>articePage</ContentType>
    <CreateDate>2024-03-29T12:56:57</CreateDate>
    <NodeName Default="خدمات">
      <Name Culture="ar">خدمات</Name>
      <Name Culture="en-us">Services</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b705fb27-cd97-4faf-b54f-9ee1480e03da">ArticePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodyText>
    <media>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </media>
    <subtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>