<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5a058bf-a29a-4efd-942d-9144df55a65e" Alias="خدمات" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2024-04-01T19:00:52</CreateDate>
    <NodeName Default="خدمات">
      <Name Culture="ar">خدمات</Name>
      <Name Culture="en-us">Services</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="8be740b6-ecdf-4c12-8307-cf3f82b3c752">Services</Template>
  </Info>
  <Properties>
    <architectureProjects>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e782a4c10f954663b36044fc958b375d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "15678ca9-fa2e-404c-8a27-e7c7df2fe6a6",
      "udi": "umb://element/e782a4c10f954663b36044fc958b375d",
      "serviceImage": [
        {
          "key": "3c9c245c-9b15-48bd-aa58-dffda1cae7e7",
          "mediaKey": "19cea6c4-4372-4d5b-9fd7-3cbaf9492aa8"
        }
      ],
      "projectTitle": "مشروع 1",
      "projectSubtitle": "شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح شرح ",
      "projectPageLink": [
        {
          "name": "Projet 1",
          "udi": "umb://document/d5e799863c63483e95885d5f83d64e15"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7ac31f4fb57942e29d0c723eed18199a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "15678ca9-fa2e-404c-8a27-e7c7df2fe6a6",
      "udi": "umb://element/7ac31f4fb57942e29d0c723eed18199a",
      "serviceImage": [
        {
          "key": "6f5c60a2-de17-411a-95f9-3e33114dae89",
          "mediaKey": "19cea6c4-4372-4d5b-9fd7-3cbaf9492aa8"
        }
      ],
      "projectTitle": "Architecture Project 1",
      "projectSubtitle": "Architecture  Project 1 subtitle",
      "projectPageLink": [
        {
          "name": "Projet 1",
          "udi": "umb://document/d5e799863c63483e95885d5f83d64e15"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </architectureProjects>
    <architectureSectionTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[Architecture Projects]]></Value>
    </architectureSectionTitle>
    <blocks>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/296c4cd7223e4949bd3f188e7a3b7569"
      },
      {
        "contentUdi": "umb://element/bafbe1fbdb074cb2bbc1272a2067d118"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/296c4cd7223e4949bd3f188e7a3b7569",
      "title": "خدماتنا",
      "image": [
        {
          "key": "bdda5f1b-bd2c-41ac-a12b-76c21de0446e",
          "mediaKey": "14a8459d-4cc7-4790-a442-9e264ba296b9"
        }
      ],
      "video": [],
      "wholeWidth": "True",
      "isTopBanner": "True"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/bafbe1fbdb074cb2bbc1272a2067d118",
      "spacerDesktop": "",
      "spacerTablet": "",
      "spacerMobile": ""
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/00cc8230c9ad408895bd0e364a7740be"
      },
      {
        "contentUdi": "umb://element/4f57b8228fa34551949a816c6f247bb7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/00cc8230c9ad408895bd0e364a7740be",
      "title": "Our services",
      "image": [
        {
          "key": "3bf30471-7d63-48b3-88ba-fe45204f72f9",
          "mediaKey": "f6a5c045-3594-4ccf-b5e9-a92720836103"
        }
      ],
      "video": [],
      "wholeWidth": "True",
      "isTopBanner": "True"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/4f57b8228fa34551949a816c6f247bb7",
      "spacerDesktop": "",
      "spacerTablet": "",
      "spacerMobile": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <contractingProjects>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5d17546d9b4c4e6fa8f2863c9d709048"
      },
      {
        "contentUdi": "umb://element/d443816db4ce4bdd86b5b35fe9d466eb"
      },
      {
        "contentUdi": "umb://element/9a4ee5282bd646ddbb5af68759190ff8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "15678ca9-fa2e-404c-8a27-e7c7df2fe6a6",
      "udi": "umb://element/5d17546d9b4c4e6fa8f2863c9d709048",
      "serviceImage": [
        {
          "key": "21e82e20-e81a-4824-902f-4de8e40a87e6",
          "mediaKey": "7a39e503-cf9a-4e45-8afe-601caea5f70e"
        }
      ],
      "projectTitle": "Contracting project 1",
      "projectSubtitle": "Contracting project subtitlie testing",
      "projectPageLink": null
    },
    {
      "contentTypeKey": "15678ca9-fa2e-404c-8a27-e7c7df2fe6a6",
      "udi": "umb://element/d443816db4ce4bdd86b5b35fe9d466eb",
      "serviceImage": [
        {
          "key": "21e82e20-e81a-4824-902f-4de8e40a87e6",
          "mediaKey": "7a39e503-cf9a-4e45-8afe-601caea5f70e"
        }
      ],
      "projectTitle": "Contracting project 2",
      "projectSubtitle": "Contracting project subtitlie testing Contracting project subtitlie testing Contracting project subtitlie testing",
      "projectPageLink": null
    },
    {
      "contentTypeKey": "15678ca9-fa2e-404c-8a27-e7c7df2fe6a6",
      "udi": "umb://element/9a4ee5282bd646ddbb5af68759190ff8",
      "serviceImage": [
        {
          "key": "21e82e20-e81a-4824-902f-4de8e40a87e6",
          "mediaKey": "7a39e503-cf9a-4e45-8afe-601caea5f70e"
        }
      ],
      "projectTitle": "Contracting project 3",
      "projectSubtitle": "Contracting project 3  subtitlie testing",
      "projectPageLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </contractingProjects>
    <contractingSectionTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[Contrcting Projects]]></Value>
    </contractingSectionTitle>
    <interiorProjects>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/29a81dc5b8a14cd0b9636318c5fc5654"
      },
      {
        "contentUdi": "umb://element/90589a531d2d4cd4804a6cbcfa11f7bd"
      },
      {
        "contentUdi": "umb://element/ce68620597ba4111ab7fbc4637f06135"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "15678ca9-fa2e-404c-8a27-e7c7df2fe6a6",
      "udi": "umb://element/29a81dc5b8a14cd0b9636318c5fc5654",
      "serviceImage": [
        {
          "key": "a0eafc7b-38b0-4dce-855f-6d949a98fab1",
          "mediaKey": "14a8459d-4cc7-4790-a442-9e264ba296b9"
        }
      ],
      "projectTitle": "Interior Projects 1",
      "projectSubtitle": "Interior Projects subtitle",
      "projectPageLink": null
    },
    {
      "contentTypeKey": "15678ca9-fa2e-404c-8a27-e7c7df2fe6a6",
      "udi": "umb://element/90589a531d2d4cd4804a6cbcfa11f7bd",
      "serviceImage": [
        {
          "key": "21e82e20-e81a-4824-902f-4de8e40a87e6",
          "mediaKey": "7a39e503-cf9a-4e45-8afe-601caea5f70e"
        }
      ],
      "projectTitle": "Interior Projects 2",
      "projectSubtitle": "Interior Projects subtitlie testing",
      "projectPageLink": null
    },
    {
      "contentTypeKey": "15678ca9-fa2e-404c-8a27-e7c7df2fe6a6",
      "udi": "umb://element/ce68620597ba4111ab7fbc4637f06135",
      "serviceImage": [
        {
          "key": "21e82e20-e81a-4824-902f-4de8e40a87e6",
          "mediaKey": "7a39e503-cf9a-4e45-8afe-601caea5f70e"
        }
      ],
      "projectTitle": "Interior Projects 3",
      "projectSubtitle": "Interior Projects subtitlie testing",
      "projectPageLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </interiorProjects>
    <interioSectionTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[Interior Projects]]></Value>
    </interioSectionTitle>
  </Properties>
</Content>