<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5a058bf-a29a-4efd-942d-9144df55a65e" Alias="خدمات" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2024-04-01T19:00:52</CreateDate>
    <NodeName Default="خدمات">
      <Name Culture="ar">خدمات</Name>
      <Name Culture="en-us">Services</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="8be740b6-ecdf-4c12-8307-cf3f82b3c752">Services</Template>
  </Info>
  <Properties>
    <blocks>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/296c4cd7223e4949bd3f188e7a3b7569"
      },
      {
        "contentUdi": "umb://element/bafbe1fbdb074cb2bbc1272a2067d118"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/296c4cd7223e4949bd3f188e7a3b7569",
      "title": "خدماتنا",
      "image": [
        {
          "key": "bdda5f1b-bd2c-41ac-a12b-76c21de0446e",
          "mediaKey": "14a8459d-4cc7-4790-a442-9e264ba296b9"
        }
      ],
      "video": [],
      "wholeWidth": "True",
      "isTopBanner": "True"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/bafbe1fbdb074cb2bbc1272a2067d118",
      "spacerDesktop": "",
      "spacerTablet": "",
      "spacerMobile": ""
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/00cc8230c9ad408895bd0e364a7740be"
      },
      {
        "contentUdi": "umb://element/4f57b8228fa34551949a816c6f247bb7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/00cc8230c9ad408895bd0e364a7740be",
      "title": "Our services",
      "image": [
        {
          "key": "3bf30471-7d63-48b3-88ba-fe45204f72f9",
          "mediaKey": "f6a5c045-3594-4ccf-b5e9-a92720836103"
        }
      ],
      "video": [],
      "wholeWidth": "True",
      "isTopBanner": "True"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/4f57b8228fa34551949a816c6f247bb7",
      "spacerDesktop": "",
      "spacerTablet": "",
      "spacerMobile": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
  </Properties>
</Content>