<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea393033-c247-418d-9d1c-c44a4c9fbadf" Alias="خدمات (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/</Path>
    <Trashed Parent="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">true</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2024-04-01T18:55:58</CreateDate>
    <NodeName Default="خدمات (1)">
      <Name Culture="ar">خدمات (1)</Name>
      <Name Culture="en-us">Services (1)</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="8be740b6-ecdf-4c12-8307-cf3f82b3c752">Services</Template>
  </Info>
  <Properties>
    <blocks>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/092c005681a546118fc16ee438002562"
      },
      {
        "contentUdi": "umb://element/0c110523927d4b3792d2932ed118e057"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/092c005681a546118fc16ee438002562",
      "title": "خدماتنا",
      "image": [
        {
          "key": "7323fc6e-0250-422c-b16c-6e5324e4b967",
          "mediaKey": "f6a5c045-3594-4ccf-b5e9-a92720836103"
        }
      ],
      "video": [],
      "wholeWidth": "True",
      "isTopBanner": "True"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/0c110523927d4b3792d2932ed118e057",
      "spacerDesktop": "24",
      "spacerTablet": "16",
      "spacerMobile": "16"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3c6fa290e3f347b1a5f66bd5002786a6"
      },
      {
        "contentUdi": "umb://element/9c7f0c56b6b54250b996cdae3b04e573"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1b0b3d3c-2e76-4c1c-ba90-ab3dfaf124f4",
      "udi": "umb://element/3c6fa290e3f347b1a5f66bd5002786a6",
      "title": "OUR SERVICES",
      "image": [
        {
          "key": "bec3995a-056c-4b86-b5f9-5d4db23dd3f2",
          "mediaKey": "7a39e503-cf9a-4e45-8afe-601caea5f70e"
        }
      ],
      "video": [],
      "wholeWidth": "True",
      "isTopBanner": "True"
    },
    {
      "contentTypeKey": "2dbd69fd-6e12-44fc-ae36-8899bbe2107a",
      "udi": "umb://element/9c7f0c56b6b54250b996cdae3b04e573",
      "spacerDesktop": "24",
      "spacerTablet": "16",
      "spacerMobile": "16"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
  </Properties>
</Content>