<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fa0f8b2-041f-47a8-ad76-e48ac7214062" Alias="معلومات عنا" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-03-29T05:20:21</CreateDate>
    <NodeName Default="معلومات عنا">
      <Name Culture="ar">معلومات عنا</Name>
      <Name Culture="en-us">About us</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b6981078-6f0d-41d6-a9ce-fbb864195fbe">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>سيخبرك هذا بكل ما تحتاج لمعرفته عناسيخبرك هذا بكل ما تحتاج لمعرفته عناسيخبرك هذا بكل ما تحتاج لمعرفته عناسيخبرك هذا بكل ما تحتاج لمعرفته عنا</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>This will tell you all you need to know about usThis will tell you all you need to know about usThis will tell you all you need to know about usThis will tell you all you need to know about us</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <media>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </media>
    <subtitle>
      <Value Culture="ar"><![CDATA[سيخبرك هذا بكل ما تحتاج لمعرفته عنا]]></Value>
      <Value Culture="en-us"><![CDATA[This will tell you all you need to know about us]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[معلومات عنا]]></Value>
      <Value Culture="en-us"><![CDATA[About us]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>