<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fa0f8b2-041f-47a8-ad76-e48ac7214062" Alias="معلومات عنا" Level="2">
  <Info>
    <Parent Key="4fac18a7-d0a4-4b53-ba09-8da4247c7fe0">الصفحة الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-03-29T05:20:21</CreateDate>
    <NodeName Default="معلومات عنا">
      <Name Culture="ar">معلومات عنا</Name>
      <Name Culture="en-us">About us</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b6981078-6f0d-41d6-a9ce-fbb864195fbe">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodyText>
    <media>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </media>
    <membersConntainer>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/66deb2fb043a4904996eefbe481edc72"
      },
      {
        "contentUdi": "umb://element/6d59da4fb4c54950a557ba90a653646f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "480895e4-34a5-4211-badd-1c45636e423f",
      "udi": "umb://element/66deb2fb043a4904996eefbe481edc72",
      "memberImage": [
        {
          "key": "cda8f93a-7ce5-4735-9357-ed61392caf51",
          "mediaKey": "46af3d81-d252-4457-ae4e-2fcc8d145d9f"
        }
      ],
      "memberName": "اندريه الحكيم",
      "memberPosition": "المدير التنفيذي"
    },
    {
      "contentTypeKey": "480895e4-34a5-4211-badd-1c45636e423f",
      "udi": "umb://element/6d59da4fb4c54950a557ba90a653646f",
      "memberImage": [
        {
          "key": "ca302c3d-1f53-47ca-bff3-d8eaf9af5044",
          "mediaKey": "5810af1c-4778-40a6-a4e4-1ad7a7cdd1fe"
        }
      ],
      "memberName": "احمد مالك ",
      "memberPosition": "المديرالعام"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bfaa244705a64bd8b5077251a0f0bdd5"
      },
      {
        "contentUdi": "umb://element/1152c4a0c76444be8ece0e6b5d038aa9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "480895e4-34a5-4211-badd-1c45636e423f",
      "udi": "umb://element/bfaa244705a64bd8b5077251a0f0bdd5",
      "memberImage": [
        {
          "key": "0401b15d-4b77-4c88-a462-86546ffa0b6c",
          "mediaKey": "46af3d81-d252-4457-ae4e-2fcc8d145d9f"
        }
      ],
      "memberName": "Andre something",
      "memberPosition": "VD"
    },
    {
      "contentTypeKey": "480895e4-34a5-4211-badd-1c45636e423f",
      "udi": "umb://element/1152c4a0c76444be8ece0e6b5d038aa9",
      "memberImage": [
        {
          "key": "96c1882c-d65c-4a2e-b400-76968086bf67",
          "mediaKey": "5810af1c-4778-40a6-a4e4-1ad7a7cdd1fe"
        }
      ],
      "memberName": "Test Namea",
      "memberPosition": "CEO"
    }
  ],
  "settingsData": []
}]]></Value>
    </membersConntainer>
    <subtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <vesionItem>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c209eca40d9a42c4b8819ff79caf369c"
      },
      {
        "contentUdi": "umb://element/afe4e0ddfa4d40719794f1fe1a8c78d3"
      },
      {
        "contentUdi": "umb://element/d564ea60c5244f9ab5fbfc7fae1819bd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e1540f2b-8f8e-4605-b2e5-9a49123e6dfc",
      "udi": "umb://element/c209eca40d9a42c4b8819ff79caf369c",
      "aboutUsBodyText": {
        "markup": "<p>مهمتنا هي تقديم حلول تصميم وبناء استثنائية، ودمج الخبرة والابتكار والموثوقية، مع تعزيز الشراكات الدائمة والمساهمة في النمو والتنمية في المملكة العربية السعودية.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "aboutUsItemMedia": [
        {
          "key": "4eee79ad-4d65-4dd4-80c1-f9b5177b69ca",
          "mediaKey": "f85b3ecd-59b7-4d55-9b6a-17def5113658"
        }
      ],
      "aboutUsItemTitle": "مهمة"
    },
    {
      "contentTypeKey": "e1540f2b-8f8e-4605-b2e5-9a49123e6dfc",
      "udi": "umb://element/afe4e0ddfa4d40719794f1fe1a8c78d3",
      "aboutUsBodyText": {
        "markup": "<p>تتمثل رؤيتنا في أن تكون الخيار الأول للخدمات التي تعتمد على الجودة،  والخدمات المعروفة بالوقت، والمعروفة بالتزامنا الثابت بالتميز، ورضا العملاء، والتقدم في المشاريع الهندسية داخل وخارج المملكة العربية السعودية</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "aboutUsItemMedia": [
        {
          "key": "3aecf69b-4b55-4ec2-a221-0b0bb3c7d91d",
          "mediaKey": "70b22a42-62ab-4323-b90c-b406f49c6490"
        }
      ],
      "aboutUsItemTitle": "رؤية"
    },
    {
      "contentTypeKey": "e1540f2b-8f8e-4605-b2e5-9a49123e6dfc",
      "udi": "umb://element/d564ea60c5244f9ab5fbfc7fae1819bd",
      "aboutUsBodyText": {
        "markup": "<p>قيمتنا هي أننا ملتزمون بدعم النزاهة والابتكار والاستدامة في جميع مساعينا، وضمان تقديم حلول عالية الجودة والأداء في الوقت المحدد ومناسب اقتصاديا، بما يتناسب مع قيم عملائنا وموظفينا والمجتمعات التي نعمل فيها</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "aboutUsItemMedia": [
        {
          "key": "da1fe4b3-dad6-4203-9bbe-4a1e2f0fc822",
          "mediaKey": "ae168af9-ff61-4849-9fb8-7ccfd2301fd1"
        }
      ],
      "aboutUsItemTitle": "قيمة"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0d322d14c46f40bdaa48022ebf0f94bb"
      },
      {
        "contentUdi": "umb://element/650ad7764f71429899777ab5a02e20ac"
      },
      {
        "contentUdi": "umb://element/e8145d14ecfc417193c84682f0938ffc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e1540f2b-8f8e-4605-b2e5-9a49123e6dfc",
      "udi": "umb://element/0d322d14c46f40bdaa48022ebf0f94bb",
      "aboutUsBodyText": {
        "markup": "<p>Our mission is to deliver exceptional design and construction solutions, integrating expertise, innovation, and reliability, while fostering enduring partnerships and contributing to the growth and development, of the Kingdom of Saudi Arabia</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "aboutUsItemMedia": [
        {
          "key": "48413985-00e8-4320-8e73-0ac74673de69",
          "mediaKey": "f85b3ecd-59b7-4d55-9b6a-17def5113658"
        }
      ],
      "aboutUsItemTitle": "Mission"
    },
    {
      "contentTypeKey": "e1540f2b-8f8e-4605-b2e5-9a49123e6dfc",
      "udi": "umb://element/650ad7764f71429899777ab5a02e20ac",
      "aboutUsBodyText": {
        "markup": "<p>Our vision is to be the foremost choice for quality-driven, time-conscious design and contracting services, known for our unwavering commitment to excellence, client satisfaction, and advancement of engineering projects within and beyond Saudi Arabia</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "aboutUsItemMedia": [
        {
          "key": "99856c3a-34d8-488e-8e66-aba3333c2fe0",
          "mediaKey": "70b22a42-62ab-4323-b90c-b406f49c6490"
        }
      ],
      "aboutUsItemTitle": "Vision"
    },
    {
      "contentTypeKey": "e1540f2b-8f8e-4605-b2e5-9a49123e6dfc",
      "udi": "umb://element/e8145d14ecfc417193c84682f0938ffc",
      "aboutUsBodyText": {
        "markup": "<p>Our Value is that we are dedicated to upholding integrity, innovation, and sustainability in all our endeavors, ensuring the delivery of superior quality, on-time performance, and cost-effective solutions, thus adding value to our clients, employees, and the communities we operate at.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "aboutUsItemMedia": [
        {
          "key": "6a8411a0-cbb3-4914-952a-8f01b219c192",
          "mediaKey": "ae168af9-ff61-4849-9fb8-7ccfd2301fd1"
        }
      ],
      "aboutUsItemTitle": "Value"
    }
  ],
  "settingsData": []
}]]></Value>
    </vesionItem>
    <WhoWeAreBodyText>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>شركة راما التخصصية للمقاولات هي احدى مؤسسات المقاولات الرائدة في السعوديةأنجزت مؤسسة راما رتبتها في اعمال المقاولات في المملكة على نطاق مدة زمنية قصيرة</p>\n<p>.بواسطة نادي من العمال ذوي الخبرات المهارية العالية والادارة المهنية<br>في الأعوام القليلة السابقة تقدمت المؤسسة بشكل سريع، وانجزت على نحو فعال العدد الكبير من المشاريع المتغايرة في المؤسسات الوطنية والمتعددة الجنسيات واثبتت موثوقية في غير مشابه مجالات تخصص الأعمال التجارية الهندسية<br>راما التخصصية واعي للجودة/الوقت والإثبات سجل بالحفاظ على عامل قيمة الزمان باعتباره الاعتبار الرئيسي عندنا</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>RAMA is recognized for creating warm and peaceful environments through inventive and thoughtful design.</p>\n<p>We transform ideas creating unique and elegant architecture and interior design and we also bring discipline, respect and intuition to our work public and private, commercial retail, residential, private homes and community development, by adopting a modern design approach and with careful analysis of every detail. If you would like to know more about us, check out our portfolio!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </WhoWeAreBodyText>
    <WhoWeAreImage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "c4bca2da-87a9-454d-a8a8-0928fce44073",
    "mediaKey": "23d9c54e-f4f0-45c8-abb6-3fffc6b15ef2"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "e80b47d6-b64c-4e55-a259-efcf80f15be1",
    "mediaKey": "7a39e503-cf9a-4e45-8afe-601caea5f70e"
  }
]]]></Value>
    </WhoWeAreImage>
    <whoWeAreSubtitle>
      <Value Culture="ar"><![CDATA[شركة راما في سطور]]></Value>
      <Value Culture="en-us"><![CDATA[WHO ARE WE]]></Value>
    </whoWeAreSubtitle>
    <WhoWeAreTitle>
      <Value Culture="ar"><![CDATA[من نحن]]></Value>
      <Value Culture="en-us"><![CDATA[Rama in brief]]></Value>
    </WhoWeAreTitle>
  </Properties>
</Content>